:root {
    --dark-background: #1f2937;
    /*hero and footer*/
    --text-color1: #faf9fa;
    /*(px:48, weight:900, hero main text), (px:24, header and logo text)*/
    --text-color2: #e5e7eb;
    /*px:18, hero secondary text, quote section background color*/
    --text-color3: #3882f6;
    /*button and call to action background*/
    --text-color4: #1f2937;
    /*(px:36, weight:900 first 'section' header), (px:36, light-italic, quote-text color)*/
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

header,
footer {
    background-color: var(--dark-background);
    color: var(--text-color1);
}

header {
    padding: 0 8rem;
}

header {
    color: var(--text-color1);
}

nav,
nav #nav-links ul,
#hero,
section,
#cards,
#call-to-action,
#call-to-action span:nth-child(2) {
    display: flex;
}

nav {
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

nav #nav-links ul li {
    list-style-type: none;
    margin-left: 2rem;
}

#nav-links ul li a,
#logo a {
    text-decoration: none;
    color: inherit;
    transition: 300ms;
}

#logo {
    font-size: 26px;
}

#logo a:hover {
    color: red;
}

nav #nav-links ul li a:hover {
   border-bottom: 2px solid red;
}

#hero {
    padding: 5rem 0;
    align-items: center;
    justify-content: space-between;
}

#hero-text-div p {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

#hero-text-div q,
#hero-text-div cite {
    font-size: 18px;
    color: var(--text-color2);
}

#hero-text-div button,
#call-to-action button {
    margin-top: 1rem;
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-color1);
    background-color: var(--text-color3);
}

#hero-image img {
    border-radius: 8px;
}

section {
    height: 35rem;
    padding: 1rem 8rem;
}

/*section 1*/
section:nth-of-type(1),
section:nth-of-type(2)
 {
    color: var(--text-color4);
}

section:nth-of-type(1),
section:nth-of-type(3) {
    background-color: #ffffff;
}

section:nth-of-type(1) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(1) h1 {
    margin-top: -9rem;
    margin-bottom: 3.5rem;
    font-size: 36px;
    font-weight: 900;
}

#cards {
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
}

.card,
.card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card {
    border: 2px solid var(--text-color3);
}

.card img {
    object-fit: cover;
}

/*section 2*/
section:nth-of-type(2) {
 font-size: 36px;
 font-style: italic;
 align-items: center;
 justify-content: center;
 background-color: var(--text-color2);
}

section:nth-of-type(2) a {
    color: var(--text-color3);
    text-decoration-color: red;
    text-decoration-thickness: 2px;
   }

   /*section 3*/
   section:nth-of-type(3) {
    justify-content: center;
    align-items: center;
   }

   #call-to-action {
    padding: 4rem;
    padding-top: 2rem;
    width: 90%;
    height: 15%;
    color: var(--text-color1);
    background-color: var(--text-color3);
    border-radius: 10px;
    justify-content: space-between;
   }

   #call-to-action p:nth-child(1) {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: -0.5em;
   }

   #call-to-action span:nth-child(2) {
    justify-content: center;
    align-items: center;
    font-size: 18px;
   }

   #call-to-action button {
    border: 2px solid var(--text-color1);
   }

footer {
    height: 4rem;
}